{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   Whseitemphysicalcount
	m_receiving            module Receiving or Custom module Receiving
#}
<form action="{{ page.formurl }}" method="get" class="form-reset allow-enterkey-submit mb-4" id="po-item-receive-form">
	<input type="hidden" name="action" value="receving-create-ilookup-item">
	<input type="hidden" name="ponbr" value="{{ page.ponbr }}">
	<input type="hidden" name="scan" value="{{ item.scan }}">
	<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">

	<div class="form-group">
		<label for="reference">Reference</label>
		<div class="input-group">
			<input type="text" class="form-control" id="itemID" name="reference" value="{{ page.scan }}">
		</div>
	</div>
	<div class="form-group">
		<label for="itemID">Item ID</label>
		<div class="input-group">
			<input type="text" class="form-control" id="itemID" name="itemID" value="{{ item.itemid }}">
		</div>
	</div>
	<div class="d-flex w-100 justify-content-between">
		<button type="submit" class="btn btn-success btn-lg">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
		</button>
		<a href="{{ page.ponbrURL(page.ponbr) }}" class="btn-clear btn btn-danger btn-lg">
			<i class="fa fa-window-close" aria-hidden="true"></i> Cancel
		</a>
	</div>
</form>
