{# m_itm is an instance of module Itm #}

<div class="form-group">
	<a href="{{ page.url }}" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
	</a>
</div>
<form action="{{ page.fullURL.getURL() }}" method="POST" id="itm-form" data-itemID="{{ item.itemid }}">
	<input type="hidden" name="action" value="update-itm-xref">
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="shortitemid">Short Item ID</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="shortitemid" id="shortitemid" value="{{ xrefs.cxm.cxm_shortitem_exists(item.itemid) ? xrefs.cxm.get_cxm_shortitem(item.itemid).custitemid : '' }}">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="primaryupc">Primary UPC Code</label>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-8">
					<input type="text" class="form-control" name="primaryupc" id="primaryupc" value="{{ xrefs.upcx.primary_upc_itemid_exists(item.itemid) ? xrefs.upcx.get_primary_upc_itemid(item.itemid).upc : '' }}">
				</div>
				<div class="col-sm-4">
					<p class="form-control-plaintext">{{ item.countItemXrefUpcs() }} Records</p>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="supercedeitemid">Supercede Item ID</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="supercedeitemid" id="supercedeitemid" value="{{ item.supercede }}"}>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="xref-vendor-count">Vendor X-refs</label>
		</div>
		<div class="col-sm-8">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="xref-vendor-count" {{ item.countItemXrefVendors() ? 'checked' : '' }}>
				<label class="custom-control-label" for="customCheck1" >{{ item.countItemXrefVendors() }} Records</label>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="xref-customer-count">Customer X-refs</label>
		</div>
		<div class="col-sm-8">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="xref-customer-count" {{ item.countItemXrefCustomers() ? 'checked' : '' }}>
				<label class="custom-control-label" for="customCheck1" >{{ item.countItemXrefCustomers() }} Records</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-4">
			<label for="is-kit">Customer X-refs</label>
		</div>
		<div class="col-sm-8">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="is-kit" {{ item.is_kit() ? 'checked' : '' }}>
				<label class="custom-control-label" for="customCheck1" ></label>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if recordlocker.function_locked_by_user(page.lockcode, item.itemid) or item.isNew() %}
			<button type="submit" class="btn btn-success" name="action" value="update-itm">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if item.isNew() == false %}
				<a href="{{ page.itm_deleteURL(item.itemid) }}" class="btn btn-danger form_button delete_button">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.itmURL() }}" class="btn btn-warning">Close</a>
	</div>
</form>
